body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  font-size: 1.2rem;
  background: #fff;
  font-family: arial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

i,
em {
  font-style: normal
}

img {
  border: none;
}

input {
  outline: none;
  border: none;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

a,
a:hover,
a:focus,
a:visited {
  color: #000;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 289px;
}

footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

@font-face {font-family: "iconfont";
  src: url('~/assets/fonts/iconfont.eot'); /* IE9*/
  src: url('~/assets/fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~/assets/fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('~/assets/fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('~/assets/fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
